apiVersion: v1
kind: ConfigMap
metadata:
  name: mymicroservice-configmap
data:
  appsettings.Development.json: |-
    {
        "ConnectionStrings": {
            "ClientId": "#{ClientId}#",
            "TenantId": "#{TenantId}#",
            "ClientSecret": "#{ClientSecret}#"
        }
    }

